<div class="container">
<h1><%= @restaurant.name %></h1>
<h3>Info</h3>
<p>Address:<%= @restaurant.address %></p>
<p>Phone number:<%= @restaurant.phone_number %></p>
<p>Category:<%= @restaurant.category %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <br>
    Rating: <%= review.rating %>/5</li>
  <% end %>
</ul>
 <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all restaurants", restaurants_path %>
    </div>
<br>
<%= link_to "Back to list", restaurants_path, class:"btn, btn-primary" %>
<%= link_to "Edit info", edit_restaurant_path(@restaurant), class:"btn, btn-primary" %>
<%= link_to "Delete restaurant", restaurant_path(@restaurant), class:"btn, btn-danger",
data: { turbo_method: :delete, turbo_confirm: "Delete #{@restaurant.name}?" } %>
</div>
